<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <iframe src="https://onedrive.live.com/embed?cid=3D525CB6020B4B45&amp;resid=3D525CB6020B4B45%21302&amp;authkey=ACaoe4CC6d0vGyg&amp;em=2&amp;wdAr=1.7777777777777777" width="476px" height="288px" frameborder="0">Ceci est un document <a target="_blank" href="https://office.com">Microsoft Office</a> incorporé, avec <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    <script>
        const iframe = document.querySelector('iframe')
        iframe.width = window.innerWidth
        iframe.height = window.innerHeight
    </script>
    <style>
        iframe {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</body>
</html>